PORT=
DB_HOST=
DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
REDIS_URL=
DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

RESEND_API_KEY=
RESEND_FROM_EMAIL=

OPENAI_API_KEY=
GROQ_API_KEY=

CORS_ORIGIN=

INTERVIEW_CREATE_LIMIT=
